[[source]]
#url = "https://mirrors.aliyun.com/pypi/simple/"
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
# data processing
openpyxl = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
# statistics
statsmodels = "*"
# utility
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
